<div class="container">
  <div class="row text-center">
    <h2 class="text-danger fs-3">Welcome To My Quiz App</h2>
    <p class="p-3 fs-6">
      I made this app with angular framework. <br>
      It contains some questions about general ideas from the world of web development. <br>
      Follow me for more works :)
    </p>
  </div>
  <div class="row mt-5">
    <h2>Choose A Quiz:</h2>
  </div>
  <div class="row">
    <div class="list-group">
      <app-quiz *ngFor="let quiz of quizzes$ | async" [quiz]="quiz"></app-quiz>
    </div>
  </div>
</div>
