<div class="row border-bottom border-dark py-2" *ngIf="question">
  <div class="fs-5 my-3">{{question.text}}</div>
  <div class="d-flex col-12 justify-content-between align-items-center">
    <div
      class="btn answer"
      *ngFor="let answer of question.answers"
      (click)="selectAnswer(answer.id, question.rightAnswer == answer.id)"
      [ngClass]="{
        'selected': isSelectedAnswer(answer.id),
        'right': isFinished && question.rightAnswer == answer.id,
        'false': isSelectedAnswer(answer.id) && isFinished && question.rightAnswer != answer.id
      }">
      {{answer.text}}
    </div>
  </div>
</div>
