<div class="container">
  <div class="row justify-content-center p-3">
    <div class="col-12 col-md-6">
      <img src="/assets/logo.png" class="img-fluid">
    </div>
  </div>
  <div class="row justify-content-center p-3">
    <h2 class="w-auto">Who is Muaaz Al Tahhan?</h2>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="/assets/me.jpg" class="img-fluid rounded">
    </div>
    <div class="col-12 col-md-6">
      <h3>Hello World!</h3>
      <p>
        I am a programmer in the age of 18 & this quiz application is one of my modest application.
      </p>
      <p>
        The project is made with angular framework which I learned the last year.
      </p>
      <p>
        Hope you like this app. \ (^_^) /
      </p>
      <p>
        <a href="https://github.com/muaazaltahan/" target="_blank">See my github account</a> for more works like this.
      </p>
    </div>
    <div class="row mt-4">
      <a class="col-3" href="https://github.com/muaazaltahan" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="github" size="3x" class="m-4"></fa-icon>
      </a>
      <a class="col-3" href="https://www.facebook.com/muaaz.altahan.9/" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="facebook" size="3x" class="m-4"></fa-icon>
      </a>
      <a class="col-3" href="https://www.instagram.com/muaazaltahan/" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="instagram" size="3x" class="m-4"></fa-icon>
      </a>
      <a class="col-3" href="https://t.me/muaazaltahan" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="telegram" size="3x" class="m-4"></fa-icon>
      </a>
    </div>
  </div>
</div>
