@font-face {
  font-family: JosefinSans;
  src: url('./assets/JosefinSans-VariableFont_wght.ttf');
}
*{
  font-family: JosefinSans;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ca5454;
  background-size: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #ca5454;
  &:hover {
    color: #f84848;
  }
}

.main-layout {
  background-color: #e0e0e0;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  margin-left: 0;
  line-height: 1.5;
}

@media (min-width: 648px) {
  .main-layout {
    width: 80%;
    margin-left: 10%;
    margin-top: 10vh;
    border-radius: 5px;
  }
}

@media (min-width: 960px) {
  .main-layout {
    width: 70%;
    margin-left: 15%;
    margin-top: 15vh;
  }
}
